.header {
	display: flex;
	width: 100%;
	height: 8%;
	justify-content: center;
}

ul {
	list-style-type: none;
	margin: 10;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	size: 30px;
	margin: 10px;
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	padding-right: 50px;
	text-decoration: none;
}

table {
    table-layout: fixed;
    width:715px;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#studentid {
	display: inline;
	margin: 0;
	width: 80px !important;
	
}
.inline {
	padding: 10px 0;
	display: flex;
	width: 100%;
}
.labels {
	width: 100%;
	display: block;
}